/**
 * @file
 * Visual styles for animated throbber.
 *
 * @see autocomplete.js
 */

.js input.form-autocomplete {
  background-image: url(/web/20250205143657im_/https://kb.perfectgym.com/core/themes/stable/images/core/throbber-inactive.png);
  background-repeat: no-repeat;
  background-position: 100% center; /* LTR */
}
.js[dir="rtl"] input.form-autocomplete {
  background-position: 0% center;
}
.js input.form-autocomplete.ui-autocomplete-loading {
  background-image: url(/web/20250205143657im_/https://kb.perfectgym.com/core/themes/stable/images/core/throbber-active.gif);
  background-position: 100% center; /* LTR */
}
.js[dir="rtl"] input.form-autocomplete.ui-autocomplete-loading {
  background-position: 0% center;
}

/*
     FILE ARCHIVED ON 14:36:57 Feb 05, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:19:29 Nov 13, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.789
  exclusion.robots: 0.043
  exclusion.robots.policy: 0.029
  esindex: 0.011
  cdx.remote: 12.546
  LoadShardBlock: 166.449 (3)
  PetaboxLoader3.datanode: 268.662 (4)
  PetaboxLoader3.resolve: 124.027 (2)
  load_resource: 228.908
*/