/**
 * @file
 * Styles for breadcrumbs.
 */

.breadcrumb {
  padding-bottom: 0.5em;
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
[dir="rtl"] .breadcrumb ol {
  /* This is required to win over specificity of [dir="rtl"] ol */
  margin-right: 0;
}
.breadcrumb li {
  display: inline;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* IE8 does not support :not() and :last-child. */
.breadcrumb li:before {
  content: " \BB ";
}
.breadcrumb li:first-child:before {
  content: none;
}

/*
     FILE ARCHIVED ON 14:39:24 Feb 05, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:19:49 Nov 13, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.9
  exclusion.robots: 0.03
  exclusion.robots.policy: 0.011
  esindex: 0.011
  cdx.remote: 29.424
  LoadShardBlock: 221.717 (3)
  PetaboxLoader3.datanode: 190.665 (4)
  load_resource: 35.388
*/