/**
 * @file
 * Collapsible details.
 *
 * @see collapse.js
 */

.js details:not([open]) .details-wrapper {
  display: none;
}

/*
     FILE ARCHIVED ON 14:37:08 Feb 05, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:19:31 Nov 13, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.771
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.007
  esindex: 0.01
  cdx.remote: 79.265
  LoadShardBlock: 167.523 (3)
  PetaboxLoader3.datanode: 182.553 (4)
  load_resource: 38.576
*/