/**
 * @file
 * Fieldgroup border reset.
 */

.fieldgroup {
  padding: 0;
  border-width: 0;
}

/*
     FILE ARCHIVED ON 14:36:59 Feb 05, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:19:31 Nov 13, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.891
  exclusion.robots: 0.022
  exclusion.robots.policy: 0.009
  esindex: 0.01
  cdx.remote: 37.839
  LoadShardBlock: 685.186 (3)
  PetaboxLoader3.datanode: 565.771 (4)
  PetaboxLoader3.resolve: 291.859 (3)
  load_resource: 197.484
*/