/**
 * @file
 * Visual styles for item list.
 */

.item-list .title {
  font-weight: bold;
}
.item-list ul {
  margin: 0 0 0.75em 0;
  padding: 0;
}
.item-list li {
  margin: 0 0 0.25em 1.5em; /* LTR */
  padding: 0;
}
[dir="rtl"] .item-list li {
  margin: 0 1.5em 0.25em 0;
}

/**
 * Comma separated lists.
 */
.item-list--comma-list {
  display: inline;
}
.item-list--comma-list .item-list__comma-list,
.item-list__comma-list li,
[dir="rtl"] .item-list--comma-list .item-list__comma-list,
[dir="rtl"] .item-list__comma-list li {
  margin: 0;
}

/*
     FILE ARCHIVED ON 14:39:47 Feb 05, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:19:50 Nov 13, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.753
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.007
  esindex: 0.01
  cdx.remote: 31.94
  LoadShardBlock: 295.134 (3)
  PetaboxLoader3.datanode: 289.9 (4)
  load_resource: 42.61
*/