@media (min-width:1366px){.kb-article-back-to-list{margin-bottom:25px;margin-bottom:calc(25px + .3vw)}}@media (max-width:1365px){.kb-article-back-to-list{margin-bottom:25px}}@media (max-width:767px){.kb-article-back-to-list{margin-bottom:25px}}@media (max-width:991px){.kb-article-back-to-list{margin-bottom:25px;display:none}}
/*
     FILE ARCHIVED ON 14:37:49 Feb 05, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:19:40 Nov 13, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.717
  exclusion.robots: 0.021
  exclusion.robots.policy: 0.009
  esindex: 0.012
  cdx.remote: 14.3
  LoadShardBlock: 162.87 (3)
  PetaboxLoader3.datanode: 209.245 (4)
  PetaboxLoader3.resolve: 70.689
  load_resource: 125.029
*/