
/*
     FILE ARCHIVED ON 14:38:02 Feb 05, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:19:47 Nov 13, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.682
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.006
  esindex: 0.009
  cdx.remote: 37.195
  LoadShardBlock: 246.798 (3)
  PetaboxLoader3.datanode: 283.452 (4)
  load_resource: 62.949
*/