@media (max-width:991px){.page-node-type-kb-article .kb-main{flex-wrap:wrap}.page-node-type-kb-article .kb-sidebar{order:1}}.node-kb-article-edit-form .error,.node-kb-article-form .error{border-width:1px;border-color:#e62600;background-color:#fdf4f2;box-shadow:inset 0 5px 5px -5px #b8b8b8}.node-kb-article-edit-form .field--name-revision-log .form-item-revision-log-0-value label::after{display:inline-block;width:6px;height:6px;margin:0 .3em;content:"";vertical-align:super;background-image:url(/web/20250205143743im_/https://kb.perfectgym.com/core/misc/icons/ee0000/required.svg);background-repeat:no-repeat;background-size:6px 6px}
/*
     FILE ARCHIVED ON 14:37:43 Feb 05, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:19:39 Nov 13, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.742
  exclusion.robots: 0.021
  exclusion.robots.policy: 0.008
  esindex: 0.01
  cdx.remote: 9.272
  LoadShardBlock: 108.757 (3)
  PetaboxLoader3.datanode: 136.014 (4)
  load_resource: 37.679
*/