.kb-component-user-info-block dfn{width:100%;margin-bottom:0;border-radius:0}.kb-component-user-info-block a svg{height:16px;width:16px;margin:0 2px 3px 0}
/*
     FILE ARCHIVED ON 14:38:41 Feb 05, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:19:48 Nov 13, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.857
  exclusion.robots: 0.025
  exclusion.robots.policy: 0.01
  esindex: 0.017
  cdx.remote: 39.795
  LoadShardBlock: 307.358 (3)
  PetaboxLoader3.datanode: 175.272 (4)
  load_resource: 69.511
*/