.kb-elearning-sidebar-graphic{position:relative;text-align:right}.kb-elearning-sidebar-graphic svg{position:absolute;width:100%}@media (min-width:1366px){.kb-elearning-sidebar-graphic svg{right:-50px;right:calc((50px + .3vw) * (-1))}}@media (max-width:1365px){.kb-elearning-sidebar-graphic svg{right:-50px}}@media (max-width:991px){.block-kb-elearning-graphic-block{display:none}.kb-elearning-sidebar-graphic svg{right:-25px}}@media (max-width:767px){.kb-elearning-sidebar-graphic svg{right:-25px}}
/*
     FILE ARCHIVED ON 14:38:54 Feb 05, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:19:48 Nov 13, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.6
  exclusion.robots: 0.012
  exclusion.robots.policy: 0.005
  esindex: 0.012
  cdx.remote: 9.131
  LoadShardBlock: 170.919 (3)
  PetaboxLoader3.datanode: 189.014 (4)
  load_resource: 45.679
*/