@media (max-width:991px){.block-kb-elearning-blank-block{display:none}}.kb-elearning-sidebar-blank{position:relative;text-align:right}
/*
     FILE ARCHIVED ON 14:38:57 Feb 05, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:19:48 Nov 13, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.874
  exclusion.robots: 0.021
  exclusion.robots.policy: 0.008
  esindex: 0.013
  cdx.remote: 39.999
  LoadShardBlock: 161.152 (3)
  PetaboxLoader3.datanode: 97.348 (4)
  load_resource: 36.126
*/