.kb-message-block .kb-alert-danger{margin-bottom:0;display:block}@media (min-width:1366px){.path-admin .kb-message-block{padding-top:10px;padding-bottom:10px;padding-top:calc(10px + .3vw);padding-bottom:calc(10px + .3vw)}}@media (max-width:1365px){.path-admin .kb-message-block{padding-top:10px;padding-bottom:10px}}@media (max-width:767px){.path-admin .kb-message-block{padding-top:10px;padding-bottom:10px}}@media (max-width:991px){.path-admin .kb-message-block{padding-top:10px;padding-bottom:10px}.kb-message-block{display:none}}
/*
     FILE ARCHIVED ON 14:39:06 Feb 05, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:19:49 Nov 13, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.672
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.007
  esindex: 0.011
  cdx.remote: 45.829
  LoadShardBlock: 205.127 (3)
  PetaboxLoader3.datanode: 353.116 (4)
  load_resource: 159.786
*/