.kb-rate-widgets-voting-results{margin-bottom:50px}.kb-rate-widgets-voting-results .views-table{width:100%}.kb-rate-widgets-voting-results .pager{margin-top:50px}
/*
     FILE ARCHIVED ON 14:39:08 Feb 05, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:19:49 Nov 13, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.175
  exclusion.robots: 0.029
  exclusion.robots.policy: 0.012
  esindex: 0.015
  cdx.remote: 26.947
  LoadShardBlock: 144.819 (3)
  PetaboxLoader3.datanode: 122.931 (4)
  load_resource: 64.237
*/