.kb-user-info header{font-family:Larsseit-Bold,Arial,sans-serif;font-weight:700}@media (min-width:1366px){.kb-user-info{margin-bottom:25px;margin-bottom:calc(25px + .3vw)}.kb-user-info header{font-size:calc(14 * 1px + .1vw);line-height:calc(18 * 1px + .1vw)}}@media (max-width:1365px){.kb-user-info{margin-bottom:25px}.kb-user-info header{font-size:16px;line-height:20px}}@media (max-width:991px){.path-user .kb-main{flex-wrap:wrap}.kb-user-info{margin-bottom:25px}.kb-user-info header{font-size:16px;line-height:20px}}@media (max-width:767px){.kb-user-info{margin-bottom:25px}.kb-user-info header{font-size:16px;line-height:20px}}@media (min-width:1366px){.kb-user-info header{margin-bottom:10px;margin-bottom:calc(10px + .3vw)}}@media (max-width:1365px){.kb-user-info header{margin-bottom:10px}}@media (max-width:991px){.kb-user-info header{margin-bottom:10px}}@media (max-width:767px){.kb-user-info header{margin-bottom:10px}}.kb-user-info ul li{word-break:break-all}@media (min-width:1366px){.kb-user-info .kb-user-info-picture{margin-bottom:10px;margin-bottom:calc(10px + .3vw)}.kb-user-info ul li{font-size:calc(14 * 1px + .1vw);line-height:calc(18 * 1px + .1vw)}}@media (max-width:1365px){.kb-user-info .kb-user-info-picture{margin-bottom:10px}.kb-user-info ul li{font-size:16px;line-height:20px}}@media (max-width:991px){.kb-user-info .kb-user-info-picture{margin-bottom:10px}.kb-user-info ul li{font-size:16px;line-height:20px}}@media (max-width:767px){.kb-user-info .kb-user-info-picture{margin-bottom:10px}.kb-user-info ul li{font-size:16px;line-height:20px}}.kb-user-info ul li span{color:#929EA9}.kb-user-info ul li a{color:#252A2E;transition:all .3s ease;display:flex;align-items:flex-start}.kb-user-info ul li a:hover{color:#058AD7;text-decoration:none}
/*
     FILE ARCHIVED ON 14:39:10 Feb 05, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:19:49 Nov 13, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.916
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.008
  esindex: 0.014
  cdx.remote: 57.896
  LoadShardBlock: 119.536 (3)
  PetaboxLoader3.datanode: 169.051 (4)
  load_resource: 124.767
*/