/**
 * @file
 * Style another element as a link.
 */

button.link {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  background: transparent;
  font-size: 1em;
}
label button.link {
  font-weight: bold;
}

/*
     FILE ARCHIVED ON 14:39:49 Feb 05, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:19:50 Nov 13, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.922
  exclusion.robots: 0.025
  exclusion.robots.policy: 0.01
  esindex: 0.013
  cdx.remote: 43.075
  LoadShardBlock: 214.792 (3)
  PetaboxLoader3.datanode: 219.328 (4)
  load_resource: 74.098
*/