/**
 * @file
 * Utility class to prevent text wrapping.
 */

.nowrap {
  white-space: nowrap;
}

/*
     FILE ARCHIVED ON 14:37:16 Feb 05, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:19:34 Nov 13, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.647
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.008
  esindex: 0.013
  cdx.remote: 89.847
  LoadShardBlock: 219.923 (3)
  PetaboxLoader3.datanode: 250.384 (4)
  PetaboxLoader3.resolve: 73.754 (2)
  load_resource: 113.066
*/