/*
 * @file
 * Contain positioned elements.
 */

.position-container {
  position: relative;
}

/*
     FILE ARCHIVED ON 14:37:18 Feb 05, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:19:33 Nov 13, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.815
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.008
  esindex: 0.011
  cdx.remote: 28.073
  LoadShardBlock: 148.894 (3)
  PetaboxLoader3.datanode: 181.254 (4)
  load_resource: 33.671
*/