/**
 * @file
 * Default styles for the System Status general info.
 */

.system-status-general-info__item {
  margin-top: 1em;
  padding: 0 1em 1em;
  border: 1px solid #ccc;
}

.system-status-general-info__item-title {
  border-bottom: 1px solid #ccc;
}

/*
     FILE ARCHIVED ON 14:37:34 Feb 05, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:19:37 Nov 13, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.012
  exclusion.robots: 0.027
  exclusion.robots.policy: 0.011
  esindex: 0.014
  cdx.remote: 34.916
  LoadShardBlock: 264.148 (3)
  PetaboxLoader3.datanode: 296.309 (4)
  load_resource: 52.676
*/