/**
 * @file
 * Styles for the system status counter component.
 */

.system-status-counter__status-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
.system-status-counter__status-icon:before {
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-position: center 2px;
  background-size: 20px;
}

.system-status-counter__status-icon--error:before {
  background-image: url(/web/20250205143730im_/https://kb.perfectgym.com/core/themes/stable/images/core/icons/e32700/error.svg);
}
.system-status-counter__status-icon--warning:before {
  background-image: url(/web/20250205143730im_/https://kb.perfectgym.com/core/themes/stable/images/core/icons/e29700/warning.svg);
}
.system-status-counter__status-icon--checked:before {
  background-image: url(/web/20250205143730im_/https://kb.perfectgym.com/core/themes/stable/images/core/icons/73b355/check.svg);
}

/*
     FILE ARCHIVED ON 14:37:30 Feb 05, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:19:37 Nov 13, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.653
  exclusion.robots: 0.017
  exclusion.robots.policy: 0.007
  esindex: 0.009
  cdx.remote: 71.281
  LoadShardBlock: 119.92 (3)
  PetaboxLoader3.datanode: 182.708 (4)
  load_resource: 91.675
*/