/**
 * @file
 * Table select behavior.
 *
 * @see tableselect.js
 */

tr.selected td {
  background: #ffc;
}
td.checkbox,
th.checkbox {
  text-align: center;
}
[dir="rtl"] td.checkbox,
[dir="rtl"] th.checkbox {
  /* This is required to win over specificity of [dir="rtl"] td */
  text-align: center;
}

/*
     FILE ARCHIVED ON 14:40:01 Feb 05, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:19:51 Nov 13, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.727
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.008
  esindex: 0.01
  cdx.remote: 16.593
  LoadShardBlock: 125.662 (3)
  PetaboxLoader3.datanode: 238.282 (4)
  load_resource: 139.012
*/