/**
 * @file
 * Table sort indicator.
 */

th.is-active img {
  display: inline;
}
td.is-active {
  background-color: #ddd;
}

/*
     FILE ARCHIVED ON 14:40:03 Feb 05, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:19:51 Nov 13, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.783
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.008
  esindex: 0.01
  cdx.remote: 28.05
  LoadShardBlock: 45.699 (3)
  PetaboxLoader3.datanode: 64.737 (4)
  load_resource: 34.695
*/