/**
 * @file
 * Styles for Classy's modal windows.
 */

.ui-dialog--narrow {
  max-width: 500px;
}

@media screen and (max-width: 600px) {
  .ui-dialog--narrow {
    min-width: 95%;
    max-width: 95%;
  }
}

/*
     FILE ARCHIVED ON 14:40:10 Feb 05, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:19:51 Nov 13, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.758
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.008
  esindex: 0.011
  cdx.remote: 56.198
  LoadShardBlock: 215.272 (3)
  PetaboxLoader3.datanode: 228.561 (4)
  load_resource: 53.626
*/